<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Entry</title>
    <link rel="stylesheet" href="new.css">
</head>
<body>
    <div class="form">
      <h2>Enter your info</h2>
      <form method="post" action="/posts"> <br>
        <input placeholder="   Enter your name " name="username" type="text"><br> <br>
        <textarea placeholder="Enter yous profession" name="content" id=""></textarea><br>
        <button>Submit</button>
      </form>
   </div>
</body>
</html>